@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap");

$page-padding: 8vw;
$text-color: #ffffff;
$color-link: #f1e153;

$font-size-desktop: clamp(18px, 1.4vw, 24px);
$font-size-mobile: clamp(24px, 1.2vw, 28px);

$max-mobile-size: 1100px;
