@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap");

$page-background: #071927;

$page-padding-desktop: 8vw;
$page-padding-mobile: 5vw;
$text-color: #ffffff;
$color-link: #f1e153;

$font-size-desktop: calc(12px + 4 * ((100vw - 320px) / 680));
$font-size-mobile: calc(16px + 6 * ((100vw - 320px) / 680));

$max-mobile-size: 1100px;
