@import "./Profile.scss";

* {
  box-sizing: border-box;
}

html,
body,
.root,
.shell {
  margin: 0;
  padding: 0;
  background-color: $page-background;

  color: white;

  font-family: "montserrat", sans-serif;
  font-size: $font-size-desktop;

  min-height: 100vh;
  width: 100%;

  &.landing {
    height: 100vh;
    background-attachment: fixed;
    background-image: url("./resources/background.jpg");
  }
}

.shell {
  min-height: 100vh;
}

.home {
  height: calc(100% - 5rem);
  display: flex;
  align-items: flex-end;
  .home-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    grid-template-areas:
      "tagline about"
      "journey about";

    align-items: stretch;

    .tagline {
      grid-area: tagline;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1em;

      padding: 0 $page-padding-desktop;
    }

    .journey {
      grid-area: journey;
      backdrop-filter: blur(30px);
      padding: 3rem 5rem 3rem $page-padding-desktop;
      background-color: $color-menu;
      align-self: end;
    }

    .about-summary {
      background-color: #00000044;
      padding: 3rem $page-padding-desktop 3rem 3rem;
      grid-area: about;
      backdrop-filter: blur(30px);
      align-self: end;
    }
  }
}

.mobile {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
legend {
  line-height: 1em;
  margin: 0;
}
p {
  line-height: 1.2em;
}

.leftAlign {
  align-self: flex-start;
}
.rightAlign {
  align-self: flex-end;
}
.bottomAlign {
  align-self: flex-end;
}

@media screen and (max-width: $max-mobile-size) {
  html,
  body,
  .shell,
  .root {
    font-size: $font-size-mobile;
  }

  .home {
    .home-wrapper {
      margin-top: 4rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "empty"
        "tagline"
        "about"
        "journey";
      gap: 5rem;
      .tagline {
        padding: 3rem $page-padding-mobile;
      }
      .journey,
      .about-summary {
        width: 100vw;
        background: $color-menu;
        padding: 3rem $page-padding-mobile;
      }
    }
  }

  .mobile {
    display: block;
  }
}

@media screen and (min-width: $min-large-screen-size) {
  html,
  body,
  .shell,
  .root {
    font-size: $font-size-large;
  }
}
