@import "../../Profile.scss";

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem $page-padding-desktop 0;
  height: 4rem;

  .nav-drawer {
    display: flex;
    gap: 3em;
    z-index: 100;

    .nav-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:hover {
        color: $color-link;
      }
    }
  }
}

@media screen and (max-width: $max-mobile-size) {
  .menuToggle {
    position: fixed;
    top: 1.8rem;
    right: 2.5rem;
    color: white;
    z-index: 999;
    cursor: pointer;

    &:hover {
      color: $color-link;
    }
  }

  .navigation {
    .nav-drawer {
      transition: 0.2s;
      padding: 5rem 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      background-color: $color-menu;
      color: white;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -80vw;
      width: 80vw;
      gap: 0;

      .nav-item {
        height: 3rem;
      }

      &.open {
        right: 0;
      }

      .nav-item {
        color: white;
      }
    }
  }
}
